<div>
  <div class="container-item">
    <span class="item">CEP</span>
    <span class="value">{{ location.cep }}</span>
  </div>
  <div class="container-item">
    <span class="item">Logradouro</span>
    <span class="value">{{ location.logradouro }}</span>
  </div>
  <div class="container-item">
    <span class="item">Complemento</span>
    <span class="value">{{ location.complemento }}</span>
  </div>
  <div class="container-item">
    <span class="item">Bairro</span>
    <span class="value">{{ location.bairro }}</span>
  </div>
  <div class="container-item">
    <span class="item">Localidade</span>
    <span class="value">{{ location.localidade }}</span>
  </div>
  <div class="container-item">
    <span class="item">UF</span>
    <span class="value">{{ location.uf }}</span>
  </div>
  <div class="container-item">
    <span class="item">IBGE</span>
    <span class="value">{{ location.ibge }}</span>
  </div>
  <div class="container-item">
    <span class="item">Gia</span>
    <span class="value">{{ location.gia }}</span>
  </div>
  <div class="container-item">
    <span class="item">DDD</span>
    <span class="value">{{ location.ddd }}</span>
  </div>
  <div class="container-item">
    <span class="item">Siafi</span>
    <span class="value">{{ location.siafi }}</span>
  </div>
</div>
