<div class="card">
  <h2>Principal</h2>
</div>
<div class="card">
  <p>
    Aplicação desenvolvida por <strong>Jorge Calheiros</strong> com fins de
    treinar <strong>angular</strong>
  </p>
  <br />
  <nav>
    <h3>Links:</h3>
    <br />
    <ul>
      <li>
        <p>
          Clique
          <a href="https://github.com/jc-dev-stack" target="_blank">aqui</a>
          para acessar meu <strong>github</strong>
        </p>
      </li>
      <li>
        <p>
          Clique <a href="">aqui</a> para acessar o github do repositório desse
          projeto
        </p>
      </li>
    </ul>
  </nav>
  <hr />
  <br />
</div>
