table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.container-button {
  width: 200px;
}
.button:hover {
  transform: scale(1.1);
}
.button {
  background-color: silver;
  color: white;
  border: 1px solid silver;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms linear;
}

.excluir {
  background-color: red;
  color: white;
}

.editar {
  background-color: blue;
  color: white;
}

.input-table-data {
  padding: 10px;
  width: 95%;
}
